<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RD907</title>
    <link rel="stylesheet" href="boxicons.min.css">
    <!-- Link to CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Box Icons -->
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <!-- Navbar -->
    <header>
        <div class="nav container">
            <!-- logo -->
            <a href="/home" class="logo"><img src="images/final-logo(2).png" alt=""></a>
            <!-- Menu icon -->
            <input type="checkbox" name="" id="menu">
            <label for="menu" <i class="bx bx-menu" id="menu-icon"></i></label>
            <!-- Nav list -->
            <ul class="navbar">
                <li><a href="/home">Home</a></li>
                <!-- <li><a href="#about">About Us</a></li> -->
                
                <li><a href="/home">Properties</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul>
            <!-- log in button -->
            <!-- <a href="login.html" class="btn">Log In</a> -->
            <div class="social">
                <a href="https://www.facebook.com/debbie.oyelakin"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/rd907realty/"><i class="bx bxl-instagram"></i></a>
                
            </div>

           
        </div>
    </header>
    
    <section class="about container" id="about-section">
        <div class="about-img" id="aboutimg">
            <img src="images/momma100.jpg" alt="">
        </div>
        <div class="about-text">
            <span>About Us</span>
            <h2>Meet the CEO, <br> Realtor Debbie (RD)</h2>
            <p>I am excited to announce that I have just launched my new real
                estate brand, RD907 Properties. This brand is the result of my
                passion for helping people find their dream homes in the most
                convenient and affordable way possible.</p>
            <p>
                We have an ever-evolving platform that makes real estate hunting much easier, far smarter, and more rewarding, whether it is locating a property to rent or buy, connecting to local real estate professionals, or finding a mortgage.


            </p>
            <p>RD907 Properties is not
                just a name, it is a philosophy. I believe that every home buyer
                deserves to have a personalized and professional service that
                matches their needs and preferences. That is why I offer a range
                of services, from home staging and marketing, to negotiation and
                closing, to ensure that every transaction is smooth and
                successful.</p>
            <p>Whether you are looking for a cozy apartment, a
                spacious family house, or a luxury villa, I can help you find the
                perfect property for you. RD907 Properties is more than just a real
                estate brand, it is a community. I value building long-term
                relationships with my clients and providing them with ongoing
                support and advice.
            </p>
            <p> RD907 Properties: where your dreams come true.
            </p>
            
        </div>
    </section>
    <section id="values">
        <h2>Our Core Values</h2>
        <!-- Box 1 -->
        <div  class="sales container" id="sales">
            <div class="box">
                <i class="bx bx-like"></i>
                <h3>Integrity</h3>
                <p>We are always transparent and honest in all our dealings with our clients. We exhibit sound business ethics.</p>
            </div>
            <!-- Box 2 -->
            <div class="box">
                <i class="bx bx-cog"></i>
                <h3>Innovation</h3>
                <p>To satisfy the various and growing needs of our users, we work hard to offer innovative and practical technologies.

                </p>
            </div>
            <!-- Box 3 -->
            <div class="box">
                <i class="bx bx-user-check"></i>
                <h3>Customer Focus</h3>
                <p>Our customers always come first.  We prioritize providing value to our end users.</p>
            </div>
        </div>
    </section>
    <section class="accordion-section">
        <h2>Frequently Asked Questions</h2>
        <ul class="accordion">
            <li>
                <input type="radio" name="accordion" id="first" checked>
                <label for="first">What services does your real estate brand offer?</label>
                <div class="content">
                    <p>We offer a range of services to assist our clients with buying, selling, renting, and managing properties.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="second">
                <label for="second">What should I look for when buying a property?</label>
                <div class="content">
                    <p>When buying a property, you should consider several factors, including the location, condition of the property, price and potential for appreciation. You should also consider your long-term goals, such as whether you plan to live in the property or use it as an investment.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="third">
                <label for="third">Can you help me find properties with high potential for appreciation?</label>
                <div class="content">
                    <p>Yes, we can help identify properties with strong potential for appreciation based on our market research and analysis. <br>We also have experience working with clients on property investments and can provide guidance on investment strategies and risk management.</p>
                </div>
            </li>
            <li>
                <input type="radio" name="accordion" id="fourth">
                <label for="fourth">Do you offer property management services?</label>
                <div class="content">
                    <p>Yes, we offer property management services for clients who own rental properties. We work closely with property owners to ensure their properties are well-maintained and profitable.</p>
                </div>
            </li>
        </ul>
    </section>
    <!-- Newsletter -->
    <section class="newsletter container">
        <h2>Got a Question? <br>Let us help you</h2>
        <form action="">
            <input type="email" name="" id="email-box" placeholder="yourmail@gmail.com"required>
            <input type="submit" value="Send" class="btn">
        </form>
    </section>
    <!-- Footer -->
    <section class="footer" id="footer">
        <div class="footer-container container">
            <img src="images/final-logo(3).png" alt="">
            <div class="footer-box">
                <h3>Quick Links</h3>
                <a href="/home">Home</a>
                <a href="#">About us</a>
                <a href="/home">Properties</a>
                <a href="#footer">Contact</a>
            </div>
            <div class="footer-box">
                <h3>Locations</h3>
                <a href="#">Lekki</a>
                <a href="#">Ikeja</a>
                <a href="#">Epe</a>
            </div>
            <div class="footer-box">
                <h3>Contact</h3>
                <a href="#">+234 (0)815 111 9513</a>
                <a href="mailto:debbieoyelakin@gmail.com?
                subject=subject text">debbieoyelakin@gmail.com</a>
                <div class="social">
                    <a href="https://www.facebook.com/debbie.oyelakin"><i class="bx bxl-facebook"></i></a>
                    <a href="https://www.instagram.com/rd907realty/"><i class="bx bxl-instagram"></i></a>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Copyright -->
    <div class="copyright">
        <p>&#169; RD907 Properties; All Rights Reserved.</p>
    </div>
    <!-- <script src="autocomplete.js"></script> -->
    
</body>
</html>