<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <div class="container">
        <video autoplay loop muted plays-inline class="back-video">
            <source src="images/production_id_3717997 (2160p) - Trim.mp4" type="video/mp4">
        </video>
        <nav>
            <img src="images/final-logo(2).png" alt="" class="logo">
             
             <!-- <input type="checkbox" name="" id="menu">
             <label for="menu" <i class="bx bx-menu" id="menu-icon"></i></label>
            <ul class="navbar">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Properties</a></li>
                
            </ul> -->
        </nav>
        <div class="text-box">
            <p>WELCOME TO</p>
            <h1>RD907 PROPERTIES</h1>
            <h3>PERFECT PLACE TO FIND THE PERFECT PROPERTY</h3>
            <div class="row">
                <a href="/home">Explore My Page <span>&#x27F6</span></a>
                <span>You Can Explore My Page Here </span>
            </div>
            
            
        </div>
        <div class="social-icons">
            <a href=""><i class='bx bxl-instagram'></i></a>
            <a href=""><i class='bx bxl-facebook-circle'></i></a>
            
        </div>
    </div>
</body>
</html>